.wrapper {
	width: 100%;
	margin: 0 auto;
	box-sizing: border;

}


.left-column {
	float:left;
	background-image:url("laptop.jpg");
	background-size: cover;
	width: 50%;
	height: 700px;
	align-content: center;
	padding:10px;
	box-sizing: border-box;

}

img {
	width: 10%;
	float:left;
}

.right-column{
	float:left;
	background-color: black;
	width: 50%;
	height: 700px;
	padding:100px;
	box-sizing: border-box;

}

.footer{
	clear:both;
	background-color:#3dadf7;
	height: 100px;
	text-align: center;
	padding: 30px;

}

/*social media icons*/

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 15px 9px;
  border-radius: 50%;
  background: #3dadf7;
  color: white;
}

.fa:hover {
    background: black;
}


h1{
	color:white;
	letter-spacing: 300px,
}

h3{
	color:skyblue;
}

h5{
	color:white;
	text-transform: uppercase;
}

/*email form*/

button {
    background-color: #3dadf7;
    color: black;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

form{
width: 70%;
}

input{
width: 100%;
padding:5px;
}


/*mobile response*/

@media all and (max-width: 900px) {
.left-column{ 
	display: none;
}
.right-column{ 
	width:100%;
}
form{
width: 100%;
}
  
}


