h1 {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0.3em;
  text-align: center;
  color: rgb(66, 197, 244);
}

.cartoon{
  width: 400px;
  margin: 0 auto;
}

.logo{
  width: 80px;
  display: block;
  margin: auto;
  padding:60px;
}

.copy {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  line-height: 30px;
}

#about {
  padding: 100px;
  background-color: black;
}
